@import "tailwindcss";

@plugin "@iconify/tailwind4";

@custom-variant dark (&:where(.dark, .dark *));

button:hover {
  cursor: pointer;
}

article {
  h1:first-of-type {
    @apply mb-6;
  }

  a:hover {
    @apply decoration-solid underline underline-offset-2;
  }

  hr {
    @apply border-0 h-0.5 rounded-full my-8;
  }

  blockquote {
    @apply border-l-4 pl-4 my-6;
  }
  blockquote p {
    @apply font-mono whitespace-pre-wrap mt-0;
  }
  blockquote p:last-child {
    @apply mb-0;
  }
  /* blockquote p a {
    @apply ;
  } */

  /* li::marker {
    @apply ;
  } */
  ul li {
    @apply list-disc ml-5;
  }
  ol li {
    @apply list-decimal ml-9;
  }

  /* code {
    @apply bg-border/25 px-1 py-px rounded;
  } */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Shiki */

pre.shiki {
  margin: 14px 0;
  padding: 8px;
  border: 1px solid;
}

pre.shiki.shiki,
.shiki code,
.shiki * {
  background-color: var(--background) !important;
  --shiki-dark-bg: var(--background) !important;
  overflow-x: auto;
}

:root.dark .shiki,
:root.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
